.content-box{
    padding: 40px 120px 60px 60px;
    background-color: #BCBEC0;
    border-radius: 20px;
    margin: auto;
}

.text-line{
    display: flex;
}
.tap-select{
    padding: 7px 20px 7px 20px;
}
.tap-select select{
    border-radius: 5px;
}
.tap-top-select-in{
    display: flex;
}
.button-vaccine{
    background-color: #2B2118;
    color: #FFFFFF;
    border-radius: 20px;
    width: 150px;
}
.button-vaccine:hover{
    background-color: black;
}
.button-announce{
    background-color: #2B2118;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    
}
.button-announce:hover{
    background-color: black;
}